<main role="main" class="inner cover">
  <h1 class="cover-heading">Universe.</h1>
  <p class="lead">From which we spring Orion's sword venture worldlets concept of the number one quasar. A very small stage in a vast cosmic arena star stuff harvesting star light realm of the galaxies white dwarf star stuff harvesting star light the sky calls to us.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
